<div class="centered">
  <form action="/login" method="POST" id="form">

    <h2>Login</h2><br>

    <label for="username">User &nbsp; </label>
    <input type="text" name="username" placeholder="Your username">
    <br>

    <label for="password">Pass &nbsp; </label>
    <input type="password" name="password" placeholder="********">

    <!--{{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}-->
    <br>
    <button>Sign In</button><br><br>

    <p class="account-message">
      Don't have an account? 
      <a href="/signup">Sign up here.</a>
    </p>
    
    {{#unless user}}

    <div id="googleBtn" class="btn btn-light">
        <span class="icon"></span>
        <a href="/auth/google" class="buttonText text-decoration-none">Or log in with Google.</a>
    </div>

    {{/unless}}
  </form>
</div>