<div class="centered">
<form id="form" action="/signup" method="POST">
  <h2>Sign Up</h2><br>

  <label for="username">Username &nbsp; </label>
  <input type="text" name="username" placeholder="Your username"><br>

  <label for="password">Password &nbsp; </label>
  <input type="password" name="password" placeholder="********"><br>

  <label for="role">Access Type &nbsp; </label>
  <select name="role" class=" role">
    <option value="ADMIN">Administrator</option>
    <option value="PROFESSOR">Professor</option>
    <option value="STUDENT">Student</option>
  </select>
  <br>
  <button type="submit">Create account</button>
  
  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  
  <p class="account-message">
    Already have an account? <a href="/login">Login</a>
  </p>

</form>
</div>