<h1>Access Denied</h1>
<h2>Only administrators have authorization.</h2>
<a href="/app">
  <button name="return">Return to Control Panel</button><br><br>
</a>
<br>
<a href="/login">
  <button name="return">Return to Login</button><br><br>
</a>