<div class="long-centered">
  <h2>Add Class</h2>
  <div class="col-sm-6 centered-form">
    <form action="/class-record-form" method="post">
      <div class="form-group">
        <label for="classGroup">Class Group: </label>
        <input type="text" name="classGroup" class="form-control">
      </div>

      <div class="form-group">
        <label for="classSemester">Semester and Year: </label>
        <input type="text" name="classSemester" class="form-control">
      </div>

      <div class="form-group">
        <label for="classType">Class Type: </label>
        <select name="classType" class="form-control">
          <option value="Normal" selected="selected">Normal</option>
          <option value="Midterm">Midterm</option>
          <option value="Midterm">Final Exam</option>
          <option value="Midterm">Event Day</option>
        </select>
      </div>

      <div class="form-group">
        <label for="classDate">Class Date: </label>
        <input type="date" name="classDate" class="form-control">
      </div>


      <div class="form-group">
        <label for="classProfessor">Professor: </label>
        <input type="text" name="classProfessor" class="form-control">
      </div>

      {{!-- Unique ID and Timestamps created automatically --}}

      <button type="submit">Submit</button>
    </form>

    {{#if successMessage}}
    <div class="success-message">{{ successMessage }}</div>
    {{/if}}  

  <a href="/app">
    <button name="return">Return to Control Panel</button><br><br>
  </a>

  </div>
</div>