{{!-- navbar --}}
<h1>IronTeach Database</h1>
<p>A platform for teachers and students.</p>

      <a class="btn btn-outline-success" href="/login">Login</a>
      <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
      <a class="btn btn-outline-primary" href="/signup">About Us</a>
      
