{{!-- navbar --}}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="my-0 mr-md-auto font-weight-normal img-logo" href="#"><img src="../public/images/logo-main.png"
      alt="iron-school-logo">
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Sobre</a>
    <a class="p-2 text-dark" href="#">Funcionalidade</a>
    <a class="p-2 text-dark" href="#">Contato</a>
  </nav>
  <a class="btn btn-outline-success" href="#">login</a>
  <a class="btn btn-outline-primary" href="#">Cadastro</a>
</div>

<section id="home">
  <img class="img-home" src="../public/images/crianca-pintando.jpg" alt="crianca-pintando">
  <h1>Iron School</h1>
  <p>
    Plataforma de gestão de notas escolares
  </p>
</section>

<section id="start">
    <img class="img-start" src="../public/images/pencils-front.png" alt="lapis">
  <h2>Sobre</h2>
    <p>
        É uma plataforma gratuita que busca oferece interatividade e inovação às práticas pedagógicas.
      </p>
</section>

<section id="half">
    <img class="img-half" src="../public/images/crianca-pintando.jpg" alt="lapis">
  <h2>Funcionalidade</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolor cumque. Repudiandae exercitationem, repellatinventore consectetur maxime voluptatibus dolor beatae, adipisci perferendis eum quo iste amet provident corporisdicta odio.
    </p>
</section>