<div class="container-fluid p-0">
  <section id="home">
    <div class="jumbotron jumbotron-fluid m-0">
      <div class="home-text w-100 h-100">
        <h1 class="display-4">Iron School</h1>
        <p class="lead">
          Plataforma de gestão de notas escolares
        </p>
      </div>
    </div>
  </section>

  <section id="start" class="d-flex justify-content-center align-items-center">
    <div class="start-text d-flex flex-column align-items-center w-100 h-100 justify-content-center">
       <p class="w-25">
        É uma plataforma gratuita que busca oferece interatividade e inovação às práticas pedagógicas.
      </p>
    </div>
  </section>

  <section id="half">
    <div class="half-gray h-100 d-flex justify-content-center align-items-center">
      <div class="half-text d-flex flex-column align-items-center w-100 h-100 justify-content-center">
        <h1>Funcionalidade</h1>
          <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolor cumque. Repudiandae exercitationem,
          repellatinventore consectetur maxime voluptatibus dolor beatae, adipisci perferendis eum quo iste amet
          provident
          corporisdicta odio.
        </p>
      </div>
    </div>
  </section>

  <section id="end" class="m-5">
    <div class="end-address">
      <img class="img-end" src="../images/logo.png" alt="logo">
      <br>
      <div class="d-flex align-items-center m-3">
        <address>
          <h3>
            Iron School
          </h3>
          Rua Alameda Jaú, 1301 - Jardim Paulista,
          <br>
          São Paulo - SP, 01420-001
          <br>
          +55 (11) 5784 1908
        </address>
        {{!-- <ul>
        <li><a href='#twitter'>Twitter</a></li>
        <li><a href='#facebook'>Facebook</a></li>
        <li><a href='#instagram'>Instagram</a></li>
      </ul> --}}
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.185748728014!2d-46.66238008468313!3d-23.561771384682736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59468d48985b%3A0x694f27fed85d9b0c!2sIronhack%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1579212320800!5m2!1spt-BR!2sbr"
      width="800" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </section>
</div>