{{!-- navbar --}}
<div class="centered">
      <h1>IronTeach Database</h1>
      <p>A platform for teachers and students.</p>
      <div>
            <div>
            <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
            <a class="btn" href="/about-us">About Us</a>   
            </div>
      </div>
</div>