<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>This is the Homepage.</h1>

    <h2>Admin Functions</h2>
        <a href ="/student-register">
        <button name="add-student-button">Add Student</button><br><br>
        </a>

        <a href ="/professor-register">
        <button name="add-professor-button">Add Professor</button><br><br>
        </a>

        <a href ="/class-register">
        <button name="add-class-button">Add Class</button><br><br>
        </a>

    <h2>Professor Functions</h2>
        <a href ="/class-input-report">
        <button name="add-class-input">Class Input Report</button><br><br>
        </a>

    <h2>Student Reports</h2>
        <a href ="/student-report-all">
        <button name="student-report-all-button">Student Reports - All</button><br><br>
        </a>
        <a href ="/student-report-individual">
        <button name="student-report-individual-button">Student Report - Individual</button><br><br>
        </a>

</body>
</html>