<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
</head>

<body>
  <h1>Database Control Panel</h1><br>
  <h3>
      User: {{UserNavData.UserName}}<br>
      Access: {{UserNavData.AcessLevel}} 
  </h3>
  <br>


  <h2>Admin Functions</h2>

  {{!-- <a href="/professor-register">
    <button name="add-professor-button">Add Professor</button><br><br>
  </a> --}}

  <a href="/class-register">
    <button name="add-class-button">Add Class</button><br><br>
  </a>

  <a href="/student-register">
    <button name="add-student-button">Add Student</button><br><br>
  </a>

  <a href="/edit-students">
    <button name="add-student-button">Edit or Remove Student</button><br><br>
  </a>

  <h2>Professor Functions</h2>
  <a href="/class-list">
    <button name="class-list">Class Input</button><br><br>
  </a>

  <h2>Student Reports</h2>
  <a href="/student-report-all">
    <button name="student-report-all-button">See All Students</button><br><br>
  </a>

</body>

</html>