<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iron School</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

  {{!-- navbar --}}
  <div
    class="fixed-top d-flex container-fluid flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="logo my-0 mr-md-auto font-weight-normal">
      <img class="img" src="../images/logo.png" alt="logo">
          <h5 class="m-0">Iron School</h5>
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#home">Sobre</a>
        <a class="p-2 text-dark" href="#half">Funcionalidade</a>
        <a class="p-2 text-dark" href="#end">Contato</a>
      
    </nav>
    <a class="btn btn-outline-success m-1" href="/login">Login</a>
    <a class="btn btn-outline-primary m-1" href="/signup">Sign Up</a>
  </div>

  <div class="main-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {{!-- <div class="navbar-fixed-top navbar-static-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

</div> --}}

</body>

</html>