{{!-- In order to render non-HTML code in HBS you must use double brackets "mustache" --}}

{{#each result}}
<h2>{{studentName}}</h2>
<h3>{{responsibleAdultName}}</h3>
<hr>
<br>
{{/each}}




<a href="/">
  <button name="return">Return to home page</button><br><br>
</a>