body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.professor-input-form{
  width: 100%;
	display: flex;
  flex-direction: column;
}

.professor-input-row{
  width: 75%;
	display: flex;
	flex-direction: row;
}

.professor-input-components{
  width: 50%;
	display: flex;
	flex-direction: column;
}
