* {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  min-height: 100%;
}


.img {
  height: 25%;
  width: 25%;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container {
  margin-top: 99px;
}

#home {
  background-image: url("../images/blocos.jpg");
  background-size: cover;
}

#home .jumbotron {
  background-color:  rgba(153, 153, 153, .4);
}

.lead {
  font-size: 30px;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-text h1, .home-text p{
  color: ivory;
}

#start {
  height: 50vh;
  background-image: url("../images/imagem-de-fund-02.png");
  /* background-image: url("../images/imagem-de-fund01.png"); */
  background-repeat: repeat;
  font-size: 25px;
}

#half {
  min-height: 50vh;
  background-image: url("../images/crianca-pintando.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.half-gray {
  position: absolute;
  background-color: rgba(153, 153, 153, .7);
}

.half-text {
  text-align: center;
}

.half-text h1,
.half-text p {
  color: ivory;
}

.half-text p {
  font-size: 25px;
}

#end {
  display: flex;
  justify-content: space-around;
}

.end-address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-end {
  height: 50%;
}

footer {
  bottom: 0;
  width: 100%;
}